.faceimage {width: 40px;display: inline-block;vertical-align: top;margin-bottom: 10px;box-sizing: border-box;text-align: right;padding-top: 14px;}
.faceimage img{width: 100%;max-width: 75px!important;border-radius: 50%;}
.chatting{font-size: small;position: relative;width: 62%;display:inline-block;vertical-align:  top;margin-left: 4%;margin-right: 18%;margin-bottom: 10px;box-sizing: border-box;}
.says{display:inline-block; background-color: #e0edff;padding: 10px;border-radius: 10px;font-size: medium;}
.says:after {content: '';position: absolute;width: 0;height: 0;border-style: solid;border-width: 7px 15px 7px 0;border-color: transparent #e0edff transparent transparent;top:
 30px;left: -15px;}
